* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.weights {
  font-weight: 700;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 15px;
  border-radius: 5px;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px -1px 54px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -1px 54px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -1px 54px -14px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.top {
  width: 100%;
  padding: 25px;
}

.bottom {
  border-radius: 5px;
  width: 100%;
}

.bottom-item {
  padding: 25px;
  height: 50%;
  color: white;
}

.bottom-left {
  background-color: #239795;
}

.bottom-right {
  background-color: #4abebd;
}

.money-back {
  color: #c0df34;
  margin-bottom: 20px;
}

.community {
  color: #2ab2af;
  margin-bottom: 20px;
}

.bottom-left > * {
  margin-bottom: 20px;
}

.amount-per {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.amount {
  font-size: 36px;
  margin-right: 15px;
}

.per {
  opacity: 0.6;
}

.why {
  margin-bottom: 20px;
}

ul > * {
  margin-bottom: 2px;
}

button {
  background-color: #c0df34;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline-color: none;
  border: none;
  color: white;
}

@media (min-width: 375px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    height: 50%;
  }

  .top {
    height: 50%;
  }

  .bottom-item {
    flex-basis: 50%;
    height: 290px;
  }
}

@media (min-width: 1440px) {
  body {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". a-m ." ". a-f .";
  }

  main {
    grid-area: a-m;
  }

  footer {
    grid-area: a-f;
  }

  .bottom-item {
    height: auto;
  }

  .container {
    height: 510px;
  }
}
