* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid green;
  padding: 30px 15px;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.top {
  border: 1px solid blue;
  width: 100%;
  padding: 25px;
}

.bottom {
  border: 1px solid yellow;
  width: 100%;
}

.bottom-item {
  padding: 25px;
  height: 50%;
}

.bottom-left {
  border: 1px solid purple;
}

.bottom-right {
  border: 1px solid black;
}

@media (min-width: 375px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    height: 50%;
  }

  .top {
    height: 50%;
  }

  .bottom-item {
    flex-basis: 50%;
    height: 290px;
  }
}

@media (min-width: 1440px) {
  body {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". a-m ." ". a-f .";
  }

  main {
    grid-area: a-m;
  }

  footer {
    grid-area: a-f;
  }

  .bottom-item {
    height: auto;
  }

  .container {
    height: 460px;
  }
}
